%tr.pretty
  %th= sortable_with_multiple_filter 'source', 'Source'
  %th Client
  %th Description
  %th= sortable_with_multiple_filter 'amount', 'Amount'
  %th= sortable_with_multiple_filter 'created_at', 'Creation Date'
  %th= sortable_with_multiple_filter 'billing_at', 'Billing date'
  %th State
  %th Actions