default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  # host: 127.0.0.1
  # username: postgres
  # password: root

development:
  <<: *default
  database: finance_development

test:
  <<: *default
  database: finane_test

production:
  <<: *default
  database: <%= ENV['FINANCE_DATABASE'] %>
  username: <%= ENV['FINANCE_DATABASE_USERNAME'] %>
  password: <%= ENV['FINANCE_DATABASE_PASSWORD'] %>
  host: <%= ENV['FINANCE_DATABASE_HOSTNAME'] %>
  port: <%= ENV['FINANCE_DATABASE_PORT'] %>

