.modal-content
  %h4 Category
  = render 'form'
.modal-footer
  = submit_tag 'Save', class: 'btn deep-purple accent-4', form: "new_category"
  %a{href: "#", class: 'modal-action modal-close waves-effect btn-flat'} Close
