%tr.pretty
  %th Provider
  %th Description
  %th= sortable 'amount', 'Amount'
  %th= sortable 'created_at', 'Creation Date'
  %th= sortable 'planned_payment_at', 'Planned payment date'
  %th Status
  %th Actions