.modal-content
  %h4 Edit parameter
  = render 'form'
.modal-footer
  = submit_tag 'Save', class: 'btn deep-purple accent-4', form: "edit_parameter_#{@parameter.id}"
  %a{href: "#", class: 'modal-action modal-close waves-effect btn-flat'} Close