%tr.pretty
  %th= sortable 'kind', 'Kind'
  %th Provider
  %th Description
  %th= sortable 'amount', 'Amount'
  %th= sortable 'created_at', 'Creation Date'
  %th= sortable 'billing_at', 'Billing Date'
  %th Status
  %th Actions